

@font-face {
  font-family: "DejaVu Serif" !important;
  src: url("../../../fonts/DejaVuSerif.ttf") format("truetype");
}

body, html {
  font-family: "DejaVu Serif" ;
}

.reveal {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s, transform 0.5s;
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0);
}