

@font-face {
  font-family: "DejaVu Serif" !important;
  src: url("./fonts/DejaVuSerif.ttf") format("truetype");
}
@font-face {
  font-family: "Arsenal" !important;
  src: url("./fonts/Arsenal-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Playfair Display" !important;
  src: url("./fonts/PlayfairDisplay-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Reey" !important;
  src: url("./fonts/Reey-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Kelvinch" !important;
  src: url('./fonts/Kelvinch.otf') format('opentype');
}
@font-face {
  font-family: "Cormorant Infant" !important;
  src: url('./fonts/CormorantInfant-Regular.ttf') format('truetype');
}

* {
  font-family: "DejaVu Serif" !important; 
  /* font-family: "Reey" !important; */
  /* font-family: "Arsenal" !important; */
  /* font-family: "Playfair Display" !important; */
  /* font-family: "Kelvinch" !important; */
  /* font-family: "Cormorant Infant" !important; */
}

.bold{
  font-weight: bold;
}

.reveal {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s, transform 0.5s;
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0);
}

.pointer{
  cursor: pointer;
}