.progress {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 5px;
}

.time, .buttons {
    display: flex;
    width: 100%;
    /* justify-content: space-around; */
}

.timeDuration, .timeProgress, .buttonBackward, .buttonForward {
    width: 50%;
}

.timeDuration {
    text-align: end;
}

.timeProgress {
    text-align: start;
}

.image {
    width: 20px;
}