.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 300px;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px; /* Увеличенные отступы */
    border-radius: 12px; /* Увеличенные закругленные углы */
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.233); /* Более выраженная тень */
    background-color: #e2e2e2;
  }
  
  .text {
    font-size: 24px; /* Увеличенный размер текста */
    margin-bottom: 25px; /* Увеличенный отступ снизу */
  }
  
  .buttonContainer {
    display: flex;
    gap: 30px; /* Увеличенный промежуток между кнопками */
  }
  
  .button {
    padding: 10px 20px; /* Увеличенные отступы для кнопок */
    font-size: 20px; /* Увеличенный размер текста кнопок */
  }
  
  .cancelButton {
    border: 1px solid #424242;
  }
  
  @media (max-width: 768px) {
    .wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 25%;
      width: 100%;
    }

    .container{
      width: 60%;
    }
  }