.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.string {
    display: flex;
    text-align: center;
}

.text {
    display: flex;
    flex-direction: column;
}

.stringText {
    padding:1px 10px;
}